{% extends "base.html" %}

{% block content %} 
    <div class='text-center'>
        <h1>{{ title }}</h1>
        <h2>{{ content }}</h2>
        <h2>Nossa jornada começou com o desejo de proporcionar aos consumidores  o acesso aos melhores produtos do mundo por meio de importação. Buscamos tornar essa experiência ainda mais incrível, com um atendimento humanizado. Alguns de nossos produtos já estão disponíveis em solo brasileiro, proporcionando uma entrega excepcional e transformando nossos clientes em verdadeiros admiradores. Nosso compromisso é oferecer qualidade e excelência em cada detalhe, proporcionando uma experiência de compra única. Seja bem-vindo à nossa loja, onde a busca pelo excepcional se torna uma realidade para cada cliente.!</h2>
    </div>
{% endblock %}